.header {
  height: 70px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;

  .logo-container {
    height: 140px;
    width: 140px;
    padding: 25px;
    margin: 0 70px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;

    .option {
      padding: 10px 15px;
      text-decoration: none;
    }
  }
}
